.Frame_Container
{
    position: relative;
    margin: auto;
    width: 1120px;
    height: fit-content;
    background-color:hsla(0, 0%, 91%, 0.205);
    border: 20px solid hsla(0, 0%, 91%, 0.205);
    img
    {
        width: 100%;
        height: auto;
    }
}