@import "../Showcase";

.RevealingSlider_Container{
    position: relative;
    margin: auto;
    width: 1120px;
    height: 796px;
    margin-bottom: 64px;
    margin-top: 128px;
    outline: 20px solid hsla(0, 0%, 91%, 0.205);


    @mixin slider_image() {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-image: url('');
      transition: opacity 0.2s;
    }


    .background-img {
      @include slider_image;
      background-size:contain;
      background-repeat:no-repeat;
      background-color: #f8f8f8;
      opacity: 1;
    }
    .background-img::before
    {
      @include showcase_labels;
      content: "Before";
      z-index: 0;
      top: 15%;
      left: 75%;
    }

    .foreground-img {
      @include slider_image;
      background-size:cover;
      opacity: 1;
      box-shadow: 15px 0px 25px #00000045;
      border-right: 4px solid  #87c9ff ;
      transition: all 0.2s;
    }

    .foreground-img::before
    {
      @include showcase_labels;
      content: "Redesigned";
      z-index: 1;
      top: 15%;
      left: 72px;
    }
    transition: all 0.2s;
  }

  .RevealingSlider_Container:hover{
    outline: 25px solid hsla(0, 0%, 91%, 0.9);
    transition: all 0.2s;

    .foreground-img {
      border-right: 6px solid  #4fb0ff ;
      transition: border 0.2s;
    }

    .background-img {
      filter: grayscale(1);
      transition: all 0.2s;
    }
  }




  @mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  @mixin arrow-helper() {
    content: '';
    padding: 3px;
    display: inline-block;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
  }
  
  .slider {
    @include center;
      cursor: grab;
      position: absolute;
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      height: 100%;
      background: rgba(#f2f2f2, 0.1);
      outline: none;
      margin: 0;
      transition: all 0.2s;
      
      &:hover {
        background: rgba(#f2f2f2, 0);
        transition: all 0.5s;
      }
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 18px;
        background-color: rgb(255, 255, 255);
        cursor: grabbing;
    }
  }


  .slider-button {
    @include showcase_theme;
    @include center;

    $size: 48px;
    pointer-events: none;
    position: absolute;
    width: $size;
    height: $size;
    border-radius: 50%;
    left: calc(50% - 18px);
    top: calc(50% - 26px);

    &:after {
      @include arrow-helper();
      transform: rotate(-45deg);
    }
    &:before {
      @include arrow-helper();
      transform: rotate(135deg);
    }
  }

