@mixin paragraph($size:18px,$color:#6B6F75) {
    white-space: break-spaces;

    font-family: "Satoshi", sans-serif;
    display: block;
    font-weight: 400;
    font-size: $size;
    line-height: 200%;

    color: $color;
}

@mixin section_title($size:20px,$color:#FF8100) {
    font-family: "Satoshi", sans-serif;
    display: block;

    font-weight: 500;
    font-size: $size;
    line-height: 23px;
    text-transform: lowercase;


    color: $color;
}



@mixin section_heading($size:36px,$color:#1D1D1F) {
    font-family: "Satoshi", sans-serif;
    display: block;

    margin-bottom: 12px;

    font-weight: 600;
    font-size: $size;
    line-height: 40px;

    color: $color;

    white-space: break-spaces;
}
