@import '../Text';
.Header_Container
{
        display: flex;
        flex-direction: column;
        gap: 16px;
    
        margin: 72px 0  36px 0 ;
       
        .Section_Heading
        {
            @include section_heading(64px);
        }
        .Section_Title
        {
            @include section_title(20px,#807CBF);
        }


}