@import '../Text';

.Section_Container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    margin: 36px 0;
}


.Section_Title {
    @include section_title;
}
.Section_Heading {
    @include section_heading
}
.Section_Paragraph {
    @include paragraph;
}

