.Section_Container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 36px 0;

}

.Section_Title {
    display: block;

    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-transform: lowercase;


    color: #FF8100;
}

.Section_Heading {
    display: block;

    margin-bottom: 12px;

    font-weight: 600;
    font-size: 32px;
    line-height: 40px;

    max-width: 65%;
    color: #1D1D1F;

    white-space: normal;
}


.Section_Paragraph {
    font-family: "Satoshi", sans-serif;
    font-weight: 600;
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;

    color: #6B6F75;
}