@import '../Text';
.PhotoSection_list_item {
    .Section_Heading {

        @include section_heading(24px);
        &.Section_Heading:before {
            left: 0;
            content: "• ";
            color: #888889;
            font-size: 50px;
            position: absolute;
        }
    }
}



@mixin PhotoSection_Container {
    max-width: 1440px;
    width: 1140px;
    display: flex;
    
    grid-gap: inherit;
    height: max-content;
    margin: 0 auto 128px auto;

  }
  

.PhotoSection_Container {

    @include PhotoSection_Container;
    flex-direction: row;
    .Section_Heading
    {
        white-space: nowrap;
    }
}

.PhotoSection_Container__Reversed {

    @include PhotoSection_Container;
    flex-direction: row-reverse;

}

.PhotoSection_text_container {
    position: relative;
    width: 75%;
    max-width: 560px;
    min-width: 400px;
    background-image: url("../src/Ilustrations/grid.svg");
}

.PhotoSection_text_container::before {
    content: counter(my-counter);
    counter-increment: my-counter;
    position: absolute;
    top: -150px;
    left: 240px;

    font-weight: 400;
    font-size: 624px;
    color: #1D1D1F;
    opacity: 0.05;
}


// .PhotoSection_img_container
// {
//     img
//     {
//         transform: scale(1);
//         transition: all 0.2s;  
//     }
// }

// .PhotoSection_img_container:hover
// {
//     img
//     {
//         transform: scale(0.99);
//         transition: all 0.2s;
//     }
// }