@charset "UTF-8";
.PhotoSection_list_item .Section_Heading {
  font-family: "Satoshi", sans-serif;
  display: block;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  max-width: 65%;
  color: #1D1D1F;
  white-space: break-spaces;
}
.PhotoSection_list_item .Section_Heading.Section_Heading:before {
  left: 0;
  content: "• ";
  color: #888889;
  font-size: 50px;
  position: absolute;
}

.PhotoSection_Container {
  max-width: 1440px;
  width: 1140px;
  display: flex;
  grid-gap: inherit;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto 128px auto;
  flex-direction: row;
}
.PhotoSection_Container .Section_Heading {
  white-space: nowrap;
}

.PhotoSection_Container__Reversed {
  max-width: 1440px;
  width: 1140px;
  display: flex;
  grid-gap: inherit;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto 128px auto;
  flex-direction: row-reverse;
}

.PhotoSection_text_container {
  position: relative;
  width: 75%;
  max-width: 560px;
  min-width: 400px;
  background-image: url("../src/Ilustrations/grid.svg");
}

.PhotoSection_text_container::before {
  content: counter(my-counter);
  counter-increment: my-counter;
  position: absolute;
  top: -150px;
  left: 240px;
  font-weight: 400;
  font-size: 624px;
  color: #1D1D1F;
  opacity: 0.05;
}

.Section_Container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 36px 0;
}

.Section_Title {
  font-family: "Satoshi", sans-serif;
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-transform: lowercase;
  color: #FF8100;
}

.Section_Heading {
  font-family: "Satoshi", sans-serif;
  display: block;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  color: #1D1D1F;
  white-space: break-spaces;
}

.Section_Paragraph {
  white-space: break-spaces;
  font-family: "Satoshi", sans-serif;
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  color: #6B6F75;
}

.Header_Container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 72px 0 36px 0;
}
.Header_Container .Section_Heading {
  font-family: "Satoshi", sans-serif;
  display: block;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 64px;
  line-height: 40px;
  max-width: 65%;
  color: #1D1D1F;
  white-space: break-spaces;
}
.Header_Container .Section_Title {
  font-family: "Satoshi", sans-serif;
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-transform: lowercase;
  color: #807CBF;
}

.Divider {
  width: 100%;
  border: 1px solid #EFEFEF;
}

.Divider__Big {
  width: 100%;
  border: 1px solid #EFEFEF;
  margin: 70px 0px;
}

.RevealingSlider_Container {
  position: relative;
  margin: auto;
  width: 1120px;
  height: 796px;
  margin-bottom: 64px;
  margin-top: 128px;
  outline: 20px solid hsla(0, 0%, 91%, 0.205);
  transition: all 0.2s;
}
.RevealingSlider_Container .background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("");
  transition: opacity 0.2s;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f8f8f8;
  opacity: 1;
}
.RevealingSlider_Container .background-img::before {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 18px 72px;
  transition: opacity 0.5s;
  background: linear-gradient(99.12deg, #1A96FD 0%, #007EE7 98.67%);
  box-shadow: 0px 46px 128px rgba(26, 150, 253, 0.07), 0px 23.0225px 64.0625px rgba(26, 150, 253, 0.0532233), 0px 13.8677px 38.5883px rgba(26, 150, 253, 0.0456112), 0px 8.88712px 24.7294px rgba(26, 150, 253, 0.0399626), 0px 5.75991px 16.0276px rgba(26, 150, 253, 0.035), 0px 3.6258px 10.0892px rgba(26, 150, 253, 0.0300374), 0px 2.08325px 5.79686px rgba(26, 150, 253, 0.0243888), 0px 0.916891px 2.55135px rgba(26, 150, 253, 0.0167767);
  color: rgb(255, 255, 255);
  min-width: 230px;
  width: 230px;
  content: "Before";
  z-index: 0;
  top: 15%;
  left: 75%;
}
.RevealingSlider_Container .foreground-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("");
  transition: opacity 0.2s;
  background-size: cover;
  opacity: 1;
  box-shadow: 15px 0px 25px rgba(0, 0, 0, 0.2705882353);
  border-right: 4px solid #87c9ff;
  transition: all 0.2s;
}
.RevealingSlider_Container .foreground-img::before {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 18px 72px;
  transition: opacity 0.5s;
  background: linear-gradient(99.12deg, #1A96FD 0%, #007EE7 98.67%);
  box-shadow: 0px 46px 128px rgba(26, 150, 253, 0.07), 0px 23.0225px 64.0625px rgba(26, 150, 253, 0.0532233), 0px 13.8677px 38.5883px rgba(26, 150, 253, 0.0456112), 0px 8.88712px 24.7294px rgba(26, 150, 253, 0.0399626), 0px 5.75991px 16.0276px rgba(26, 150, 253, 0.035), 0px 3.6258px 10.0892px rgba(26, 150, 253, 0.0300374), 0px 2.08325px 5.79686px rgba(26, 150, 253, 0.0243888), 0px 0.916891px 2.55135px rgba(26, 150, 253, 0.0167767);
  color: rgb(255, 255, 255);
  min-width: 230px;
  width: 230px;
  content: "Redesigned";
  z-index: 1;
  top: 15%;
  left: 72px;
}

.RevealingSlider_Container:hover {
  outline: 25px solid hsla(0, 0%, 91%, 0.9);
  transition: all 0.2s;
}
.RevealingSlider_Container:hover .foreground-img {
  border-right: 6px solid #4fb0ff;
  transition: border 0.2s;
}
.RevealingSlider_Container:hover .background-img {
  filter: grayscale(1);
  transition: all 0.2s;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.1);
  outline: none;
  margin: 0;
  transition: all 0.2s;
}
.slider:hover {
  background: rgba(242, 242, 242, 0);
  transition: all 0.5s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  background-color: rgb(255, 255, 255);
  cursor: grabbing;
}

.slider-button {
  background: linear-gradient(99.12deg, #1A96FD 0%, #007EE7 98.67%);
  box-shadow: 0px 46px 128px rgba(26, 150, 253, 0.07), 0px 23.0225px 64.0625px rgba(26, 150, 253, 0.0532233), 0px 13.8677px 38.5883px rgba(26, 150, 253, 0.0456112), 0px 8.88712px 24.7294px rgba(26, 150, 253, 0.0399626), 0px 5.75991px 16.0276px rgba(26, 150, 253, 0.035), 0px 3.6258px 10.0892px rgba(26, 150, 253, 0.0300374), 0px 2.08325px 5.79686px rgba(26, 150, 253, 0.0243888), 0px 0.916891px 2.55135px rgba(26, 150, 253, 0.0167767);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  left: calc(50% - 18px);
  top: calc(50% - 26px);
}
.slider-button:after {
  content: "";
  padding: 3px;
  display: inline-block;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg);
}
.slider-button:before {
  content: "";
  padding: 3px;
  display: inline-block;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(135deg);
}

.IntroSection_Container {
  margin: 64px 0;
}

.Logo {
  width: 500px;
  display: inline;
}

.LogoTags_Container {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column-reverse;
  gap: 18px;
}

.Tags_Container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin: 16px 0;
  align-items: center;
}

.Showcase_Tag_Container {
  display: inline-flex;
  text-align: center;
  padding: 8px 16px;
  background: linear-gradient(93.64deg, rgba(26, 150, 253, 0.1) 0%, rgba(0, 126, 231, 0.1) 100%);
  border-radius: 26px;
  border: 1px solid #1A96FD;
  transition: background-color 0.3s ease;
}

.Showcase_Tag_Container:hover {
  background: linear-gradient(93.64deg, #1A96FD 0%, #007EE7 100%);
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.Showcase_Tag_Container:hover .Showcase_Tag_Text {
  color: white;
  -webkit-text-fill-color: white;
}

.Tags_Legend {
  white-space: break-spaces;
  font-family: "Satoshi", sans-serif;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #6B6F75;
}

.IntroSection_Paragraph {
  white-space: break-spaces;
  font-family: "Satoshi", sans-serif;
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  color: #6B6F75;
}

.Showcase_Tag_Text {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  background: linear-gradient(93.64deg, #1A96FD 0%, #007EE7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.Frame_Container {
  position: relative;
  margin: auto;
  width: 1120px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: hsla(0, 0%, 91%, 0.205);
  border: 20px solid hsla(0, 0%, 91%, 0.205);
}
.Frame_Container img {
  width: 100%;
  height: auto;
}

@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi-Bold.woff2");
  font-weight: 500;
}
#root {
  height: 100vh;
  overflow-y: scroll;
}

body,
html {
  counter-reset: my-counter;
  font-family: "Outfit", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: inherit;
}

ul,
ol {
  list-style: none;
}

em {
  background: linear-gradient(93.64deg, #1A96FD 0%, #007EE7 100%);
  color: white;
  text-transform: none;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  padding: 4px 4px;
  transition: all 0.2s;
}

em:hover {
  letter-spacing: -0.05px;
  transition: all 0.2s;
}

.App {
  overflow-x: hidden;
  margin-bottom: 256px;
}

.Main_Container {
  margin: auto;
  max-width: 1120px;
  width: 1120px;
}

.Banner {
  background-image: url("./Ilustrations/Banner_White.svg");
  /* width: 1440px; */
  max-height: 400px;
  height: 400px;
  background-size: cover;
  margin: auto;
  border-bottom: 12px solid #EFEFEF;
}

.hidden_left {
  opacity: 0;
  transform: translateX(-100px);
  filter: blur(5px);
  transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.3s ease-in-out, filter 0.15s ease;
}

.hidden_opacity {
  opacity: 0;
  filter: blur(5px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.3s ease-in-out, filter 0.15s ease;
}

.hidden_up {
  opacity: 0;
  transform: translateY(-100px);
  filter: blur(5px);
  transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.3s ease-in-out, filter 0.15s ease;
}

.hidden_right {
  opacity: 0;
  transform: translateX(100px);
  filter: blur(5px);
  transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.3s ease-in-out, filter 0.15s ease;
}

.show {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
  transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.3s ease-in-out, filter 0.15s ease;
}/*# sourceMappingURL=index.css.map */