@use "./Components/PhotoSection/PhotoSection";
@use "./Components/Section/Section";
@use "./Components/Divider";
@use "./Components/RevealingSlider/RevealingSlider";
@use "./Components/IntroSection/IntroSection";
@use "./Components/Text";
@use "./Components/Showcase";

@font-face {
    font-family: "Satoshi";
    src: url("./fonts/Satoshi-Regular.woff2");
    font-weight: 400;
}
@font-face {
    font-family: "Satoshi";
    src: url("./fonts/Satoshi-Bold.woff2");
    font-weight: 500;
}

#root {
    height: 100vh;
    overflow-y: scroll;
}

body,
html {
    counter-reset: my-counter;


    font-family: "Outfit", sans-serif;
    user-select: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: white;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    width: inherit;
}

ul,
ol {
    list-style: none;
}

em
{
    background: linear-gradient(93.64deg, #1A96FD 0%, #007EE7 100%);
    color: white;
    text-transform: none;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    padding: 4px 4px;
    transition: all 0.2s;
}

em:hover
{
    letter-spacing: -0.05px;
    transition: all 0.2s;
}





.App {
    /* background-image: url("../src/Ilustrations/grid.svg"); */
    overflow-x: hidden;
}

.Main_Container {
    margin: auto;
    max-width: 1120px;
    width: 1120px;
}

.Banner {
    background-image: url("./Ilustrations/Banner_White.svg");
    /* width: 1440px; */
    max-height: 400px;
    height: 400px;
    background-size: cover;
    margin: auto;
}

